h1{
    color: rgb(133,88,92);
    background-color: rgb(243, 235, 235);
    text-align: center;
    padding:50px;
    margin: auto;
    font-weight: 900;
    font-family: sans-serif;
  
    
}

body{
    margin:100px;
    background-color:rgb(171,171,171);
    text-align: center;
    color:rgb(167, 62, 120);
    size: 18px;
    

}


div{
    background-color:rgb(229,229,228);
}

form {
    margin-left:35%;
    margin-right:35%;
  }

textarea {
    resize: none;
    border:transparent;
    text-align: left;
    block-size: auto;
    resize: both;
    overflow: auto;
  }
  
  
.item {
    width:150px;
    height:50px;
    margin:5px;
    
}

.flex {
  display: flex;
}
.flex-space-evenly {
  justify-content: space-evenly;
}

.center{
  justify-content:center;
}

.input{ 
  padding: 20px 0;
  width:90px;
}

.button{
  color:grey;
}

